version: "3.8"

services:
  redis:
    image: redis:7
    container_name: redis
    networks:
      - mining-net
    ports:
      - "8099:6379"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 3s
      timeout: 3s
      retries: 20

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    networks:
      - mining-net
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: pass
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 5s
      timeout: 5s
      retries: 20

  coordinador:
    image: matiasherrneder/blockchain-coordinador:08a039c
    container_name: coordinador
    networks:
      - mining-net
    ports:
      - "8000:8000"
    environment:
      REDIS_HOST: redis
      REDIS_PORT: "6379"
      REDIS_DB: "0"

      RABBIT_HOST: rabbitmq
      RABBIT_PORT: "5672"
      RABBIT_USER: "user"
      RABBIT_PASS: "pass"
      RABBIT_QUEUE_NAME: "pending_transactions"
    depends_on:
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    restart: unless-stopped

networks:
  mining-net:
    external: true
