__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
env/
venv/
credentials/
.vscode/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.crash/
.terraform.lock.hcl

# Credenciales sensibles
credentials/*
*secret.yaml