apiVersion: v1
kind: ServiceAccount
metadata:
  name: vault-server
  namespace: secret
---
apiVersion: v1
kind: Service
metadata:
  name: vault
  namespace: secret
spec:
  selector:
    app: vault
  ports:
    - name: http
      port: 8200
      targetPort: 8200
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: vault
  namespace: secret
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vault
  template:
    metadata:
      labels:
        app: vault
    spec:
      serviceAccountName: vault-server
      containers:
        - name: vault
          image: hashicorp/vault:1.15.4
          args:
            - "server"
            - "-dev"
          env:
            - name: VAULT_DEV_ROOT_TOKEN_ID
              value: "root"
            - name: VAULT_DEV_LISTEN_ADDRESS
              value: "0.0.0.0:8200"
          ports:
            - containerPort: 8200
              name: http
          readinessProbe:
            httpGet:
              path: /v1/sys/health?standbyok=true&perfstandbyok=true
              port: 8200
            initialDelaySeconds: 3
            periodSeconds: 5
            failureThreshold: 6
          livenessProbe:
            httpGet:
              path: /v1/sys/health?standbyok=true&perfstandbyok=true
              port: 8200
            initialDelaySeconds: 10
            periodSeconds: 10
            failureThreshold: 6
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
          volumeMounts:
            - name: vault-data
              mountPath: /vault/data
      volumes:
        - name: vault-data
          emptyDir: {}
      nodeSelector:
        role: infraestructura